<h4>User Info</h4>
<div class="large-6 columns">
  <%= f.input :first_name %>
</div>
<div class="large-6 columns">
  <%= f.input :last_name %>
</div>
<div class="large-6 columns">
  <%= f.input :username %>
</div>
<div class="large-6 columns">
  <%= f.input :role %>
</div>
